<div class="jumbotron jumbotron-fluid">
<div class="container">
    <h1 class="display-4">Contact</h1>
    <p class="lead">
      Tony Jeong
    </p>
    <ul class="genList">
      <li>Front-End Developer & Programmer</li>
      <li>Interested in Front-End Web Development, Networking, and Application Development</li>
      <li>Language: HTML/CSS, JavaScript, PHP, C#, ASP.NET and Python</li>
      <li>
        Canada
      </li>
      <li><a href="https://www.linkedin.com/in/cjtony" target="_blank"><img src="../../../assets/img/Linkedin.png"></a>
        <a href="https://github.com/sktonyca" target="_blank"><img src="../../../assets/img/GitHub-Mark-32px.png"></a></li>
    </ul>
</div>
  </div>
