<div class="jumbotron jumbotron-fluid" id="projectsArea">
    <div class="container">
      <p class="lead">
        POGO Project
      </p>
      <ul class="genList">
        <li>
          Developed an information website providing Pokémon Go user with game
          information such as Pokedex, Raid and leaderboard.
        </li>
        <li>Worked on Raid section of the website (with ASP.NET)</li>
        <li>
          Created with ASP.NET, C#, CSS, JavaScript using Visual Studio 2017
        </li>
        <li>
          Repository is located at
          <a href="https://github.com/smit1413/POGO" target="_blank">Github</a>
        </li>
      </ul>
      <p class="lead">
        Weather
      </p>
      <ul class="genList">
        <li>
          It is a Python application that take user input and show temperature of the area
        </li>
        <li>
          Created with Python using Visual Studio Code
        </li>
        <li>
          Repository is located at
          <a href="https://github.com/sktonyca/Weather" target="_blank">Github</a>
        </li>
      </ul>
    </div>
  </div>
