<div lass="navbar-collapse collapse" id="collapsingNavbar">
    <ul class="nav bg-warning">
      <li class="nav-item">
        <a
          class="nav-link"
          id="home"
          routerLink="home"
          routerLinkActive="active"
        >
          Home
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="projects"
          routerLink="projects"
          routerLinkActive="active"
        >
          Projects
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="about"
          routerLink="about"
          routerLinkActive="active"
        >
          About
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="contact"
          routerLink="contact"
          routerLinkActive="active"
        >
          Contact
        </a>
      </li>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" id="myClock">
        </li>
    </ul>
  </ul>
    
  </div>
